@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Poiret One', cursive, sans-serif;
}

t*{
    outline: 1px solid lime;
}

#header {
    background-color: #101D29;
    color: #e9f0f7;
    height: 100px;
}

.nav {
    max-width: 1080px;
    margin: auto;
    display: grid;
}

.logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.links {
    font-size: 0.80rem;
    color: #e9f0f7;
    margin: auto;
    text-align: center;
}

.links a {
    color: #e9f0f7;
    text-decoration: none;
    padding-left: 15px;
    
}

#background1 {
    background-color: #314158;
    height: 1170px;

}

.title {
    color: #e9f0f7;
    font-size: 0.95rem;
    margin: auto;
    display: grid;
    padding-top: 20px;
    max-width: 100px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#architecture {
    max-width: 960px;
    margin: auto;
}

#background2 {
    background-color: #e9f0f7;
    height: 920px;
}

.title2 {
    color: #101D29;
    font-size: 0.95rem;
    margin: auto;
    display: grid;
    padding-top: 20px;
    max-width: 150px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#botanical {
    max-width: 960px;
    margin: auto;
}

#background3 {
    background-color: #314158;
    height: 920px;
}

.title3 {
    color: #e9f0f7;
    font-size: 0.95rem;
    margin: auto;
    display: grid;
    padding-top: 20px;
    max-width: 150px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#central {
    max-width: 960px;
    margin: auto;
}

#background4 {
    background-color: #e9f0f7;
    height: 920px;

}

.title4 {
    color: #101D29;
    font-size: 0.95rem;
    margin: auto;
    display: grid;
    padding-top: 20px;
    max-width: 150px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#miscellaneous {
    max-width: 960px;
    margin: auto;
}

#background5 {
    background-color: #314158;
    height: 920px;
}

.title5 {
    color: #e9f0f7;
    font-size: 0.95rem;
    margin: auto;
    display: grid;
    padding-top: 20px;
    max-width: 150px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#clothing {
    max-width: 960px;
    margin: auto;
}

#background6 {
    background-color: #e9f0f7;
    height: 245px;
}
.title6 {
    color: #101D29;
    font-size: 0.95rem;
    margin: auto;
    display: grid;
    padding-top: 20px;
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#aboutme {
    max-width: 960px;
    margin: auto;
}

p {
    text-align: left;
}

    

    