@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Poiret One', cursive, sans-serif;
}

t*{
    outline: 1px solid lime;
}

#header {
    background-color: #101D29;
    color: #e9f0f7;
    height: 90px;
}

.nav {
    max-width: 641px;
    margin: auto;
    display: grid;
}

.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.links {
    font-size: 0.80rem;
    color: #e9f0f7;
    margin: auto;
    text-align: center;
}

.links a {
    color: #e9f0f7;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

#architecture {
    
}
    